POSTGRES_DB=humanum_hukuk
POSTGRES_USER=humanum_admin
POSTGRES_PASSWORD=replace_with_a_strong_random_admin_password
HUMANUM_MIGRATION_DB_USER=humanum_migrator
HUMANUM_MIGRATION_DB_PASSWORD=replace_with_a_strong_random_migration_password
HUMANUM_SHADOW_DB=humanum_hukuk_shadow
HUMANUM_APP_DB_USER=humanum_app
HUMANUM_APP_DB_PASSWORD=replace_with_a_strong_random_app_password
