POSTGRES_DB=humanum_hukuk_acceptance
POSTGRES_USER=humanum_acceptance_admin
POSTGRES_PASSWORD=replace_with_a_strong_random_acceptance_admin_password
HUMANUM_MIGRATION_DB_USER=humanum_acceptance_migrator
HUMANUM_MIGRATION_DB_PASSWORD=replace_with_a_strong_random_acceptance_migration_password
HUMANUM_SHADOW_DB=humanum_hukuk_acceptance_shadow
HUMANUM_APP_DB_USER=humanum_acceptance_app
HUMANUM_APP_DB_PASSWORD=replace_with_a_strong_random_acceptance_app_password